@{
    ViewBag.Title = "Home";
}

<div style="text-align:center">
    <img src="~/Assets/Logo/cffr-web.png" />
    <img src="~/Assets/Logo/cffr-web.png" />
    <img src="~/Assets/photos/Under-Construction.png" style="width:60%"/>
</div>